.skills,
.hobbies {
    display: flex;
    flex-direction: column;
    gap: 25px;

    text-align: center;
    padding: 30px 30px;
}

.skills img,
.hobbies img {
    filter: invert(70%) sepia(30%) saturate(5000%) hue-rotate(214deg) brightness(85%) contrast(85%);
}

.skills__line,
.hobbies__line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skills__box,
.hobbies__box {
    width: 5.6em;
    height: 5.5em;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 16px;
    text-align: left;

}

.skills__name,
.hobbies__name {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 10px;
}

@media (min-width: 768px) {

    .skills__box,
    .hobbies__box {
        width: 12em;
        height: 7em;
        margin-bottom: 20px;
    }

    .skills__name,
    .hobbies__name {
        font-size: 1rem;
    }

    .skills__line,
    .hobbies__line {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {

    .skills,
    .hobbies {
        padding: 40px 100px;
        gap: 25px;

    }

    .skills__box,
    .hobbies__box {
        width: 9em;
        height: 8em;
        margin-bottom: 20px;
    }
}