@import url('styles/reset.css');

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-section: #EAF2FD;
    --cor-de-input: rgb(16, 82, 204);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

ul {
    padding-left: 0;
}





section.menu,
section.title,
section.about,
section.skills,
section.hobbies,
section.academic,
section.experience,
section.formcontato {
    padding: .8rem 2rem;
}

/*Sección Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
}

.menu__title {
    font-size: 1.1rem;

}

.menu__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu__list{
    display: none;
   }


.menu__list__item__contato {
    font-weight: bold;
}

/*Sección Title*/

section.title {}

.title__div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.title__container{
    width: 70%;
}

.title__bio {
    font-size: 1.6rem;
}


.title__subsection {
    font-weight: normal;
    font-size: 1rem;
}

.title__profile {
    width: 45%;

}

.title__network {
    display: flex;
    justify-content: start;
    gap: 25px;
    padding-left: 0;
    flex-wrap: wrap;
}

/*Sección About*/

section.about {
    background-color: var(--cor-de-section);
}

.about__container {
    width: 100%;
    margin-bottom: 40px;
}

.about__paragraph {
    font-size: 1rem;
}

/*Sección Skills*/

section.skills,
section.hobbies {
    text-align: center;
}

.skills__line,
.hobbies__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.skills__box,
.hobbies__box {
    background-color: #fff;
    padding: 0 12px;
    width: 100px;
    height: 115px;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.skills__box ul,
.hobbies__box ul {
    text-align: left;
}

.skills__box li,
.hobbies__box li {
    margin-top: 10px;
}

.skills__name,
.hobbies__name {
    font-weight: bold;
}


/*Sección Hobbies*/

section.hobbies {
    margin-bottom: 40px;

}

/* Experiencia Académica*/

section.academic {
    background-color: var(--cor-de-section);
    text-align: center;

}

.academic__courses {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.academic__courses__list {
    text-align: left;
}

.academic__courses__item__img {
    background-color: #fff;
    padding: 20px 50px;
}



.academic__courses__item__img img {
    width: 120px;
}

.academic__courses__item__title h4 {
    margin: 10px 0;
}

.academic__courses__item__subtitle p {
    margin: 0;
}

/* experiencia*/

section.experience {
    text-align: center;
    margin-bottom: 30px;
}

.experiencie__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.experiencie__box img {
    width: 100%;
}


.experience__info {
    width: 100%;
    text-align: left;
}

.experience__title {
    font-size: 1.2rem;
    margin-bottom: 10px;

}

.experience__text {
    margin-top: 0;
    font-weight: normal;
}

.experiencia__botao--repo,
.experience__botao--demo {
    width: 90px;
    height: 40px;
    border-radius: none;
}

.experiencia__botao--repo {
    background-color: transparent;
    border: 1px solid rgb(16, 82, 204);
    color: rgb(50, 119, 248);
}

.experiencia__botao--repo:hover,
.experience__botao--demo:hover,
.formcontato__botao:hover {
    cursor: pointer;
    background-color: rgb(18, 80, 196);
    color: #fff
}

button {
    font-size: 0.9rem;
}

.experience__botao--demo,
.formcontato__botao {
    background-color: rgb(50, 119, 248);
    border: 1px solid rgb(50, 119, 248);
    color: #fff;
}

/*Contacto*/

section.formcontato {
    background-color: var(--cor-de-section);
}

.formcontato__title {
    margin-bottom: 0;
    margin-top: 0;

}


.formcontato__contacto {
    display: flex;
    height: 550px;
    gap: 20px;
    margin: 40px 0;
}

.formcontato--esquerda {
    display: none;
}


.formcontato--esquerda img {
    width: 100%;
    height: 100%;
}


.formcontato__text {
    align-items: center;
    width: 100%;

}

.formcontato__subtext {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 0;
}

.formcontato__subtext:nth-child(3) {
    margin-top: 5px;
}

.formcontato__input,
.formcontato__textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 6px;
    outline: none;
    background: #fff;
    z-index: 1;
    border-bottom: 2px solid #d9d9da;

}

.formcontato__textarea {
    resize: none;
    height: 100px;
}

::placeholder {
    color: transparent;
}

.formcontato__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formcontato__container {
    position: relative;
    height: 45px;
    width: 100%;
    margin-bottom: 17px;
}

.formcontato__label {
    position: absolute;
    top: 28px;
    left: 15px;
    padding: 0 4px;
    background-color: #fff;
    color: #adadb1;
    font-size: 16px;
    transition: 0.5s;
    z-index: 1;
}


.formcontato__input:focus+.formcontato__label,
.formcontato__textarea:focus+.formcontato__label {
    top: 5px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    color: var(--cor-de-input);
}

.formcontato__input:focus,
.formcontato__textarea:focus {
    border-bottom: 2px solid var(--cor-de-input);
}

.formcontato__input:not(:placeholder-shown)+.formcontato__label,
.formcontato__textarea:not(:placeholder-shown)+.formcontato__label {
    top: 5px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
}

.formcontato__botao {
    position: absolute;
    top: 60px;

}

.formcontato__botao {
    width: 150px;
    height: 40px;
}

/*footeer*/

section.footer {}

.footer__rodape {
    text-align: center;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

    section.menu,
    section.title,
    section.about,
    section.skills,
    section.hobbies,
    section.academic,
    section.experience,
    section.formcontato {
        padding: .8rem 5rem;
    }

    h3 {
        font-size: 2.5rem;
    }


    /* Menú */
    .menu__list {
        display: flex;
        gap: 20px;
    }

    .title__network {
        flex-wrap: nowrap;
    }

    /*title*/
    .title__bio {
        font-size: 3.2rem;
    }

    
    .title__container{
        width: 60%;
    }

    .title__div{
        justify-content: space-between;
        gap: 10px;
    }


    .title__subsection {
        font-size: 1.7rem;
    }

    .title__profile {
        width: 40%;
    }

    /*Sección About*/
    .about__container {
        width: 75%;
    }

    .about__paragraph {
        font-size: 1.2rem;
    }

    /*Skills*/
    .skills__box,
.hobbies__box {
    width: 150px;
    height: 160px;
}

    /*Experiences*/
    .experiencie__box {
        flex-wrap: nowrap;
    }

    .experiencie__box img {
        width: 70%;
    }

    .experience__info {
        width: 30%;
    }

    .experience__title {
        font-size: 1.4rem;
    }

    /*Formación Académica*/
    .academic__courses {
        justify-content: space-between;
    }

    .academic__courses__item__img {
        padding:50px;
      }

    /*Experiencia Profesional*/

    /*Contacto*/
    .formcontato--esquerda {
        display: block;
    }

    .formcontato__subtext {
        font-size: 1.2rem;
    }

}

/*Mobile*/
@media (min-width: 425px) {

     h3{
        font-size: 1.5;
     }

    /*Menu*/

    /*Titulo*/
    .title__div {
        flex-wrap: nowrap;
    }

    .title__profile {
        width: 30%;
    
    }

 

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/
 

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}